<%- include("partials/header.ejs") %>

<div class="container-fluid mt-3">
        <div id="nav"> Pi-Napple - A Raspberry Pi Server </div>
</div>
<div class="container">
    <h2>CPU Usage Statistics</h2>
    <iframe id="CPU" src="/cpu" frameborder="0" height="120px" width="800px"></iframe>
    <p class="lead fs-6">Refresh to update</p>

</div>

<%- include("partials/footer.ejs") %>