<%- include("partials/header.ejs") %>

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-2"> Raspberry pi server time: </div>
        <div class="" id="time">
            <!-- <p id="time"></p> -->
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>